h1 {
    font-size: 90px;
    @include max-1260px {    
        font-size: 80px; 
    }
    @include max-750px {    
        font-size: 72px; 
    }
}

h2 {
    font-size: 96px;
    text-align: center;
    @include max-1260px {    
        font-size: 64px; 
    }
    
    @include max-750px {    
        font-size: 40px;
        margin-top: 50px;
    }
}

h3{
    font-size: 40px;

    @include max-1260px {    
        font-size: 32px; 
    }

    @include max-750px {    
        font-size: 20px; 
    }
}

h4{ 
    font-size: 36px;

    @include max-1260px {    
        font-size: 24px; 
    }

    @include max-750px {    
        font-size: 16px; 
    }
}


h5{
    font-size: 24px;
    text-align: center;  
    margin-bottom: 8px;      

    @include max-1260px {    
        font-size: 18px; 
    }

    @include max-750px {    
        font-size: 12px; 
    }
}

h6{
    font-size: 16px;
    text-align: center;
    margin-bottom: 16px;
    @include max-1260px {    
        font-size: 12px; 
    }

    @include max-750px {    
        font-size: 10px; 
        margin-bottom: 8px;
    }
}